.blog {
  width: 680px;
  margin: auto;
  min-height: calc(100vh - 70px);
}

.blog h1 {
  font-size: max(48px, min(5vw, 76px));
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-align: center;
}

.blog h2 {
  font-size: max(18px, min(2vw, 24px));
  letter-spacing: -0.05em;
}

.blog h3 {
  font-size: max(12px, min(2vw, 14px));
}

.blog p {
  color: var(--base800);
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;
}

.blog a {
  color: var(--blue800);
}

.blog img {
  display: block;
  max-width: 75%;
  margin: 2rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.back {
  display: block;
  margin: 40px 0;
}
