.blog {
  width: 680px;
  margin: auto;
  min-height: calc(100vh - 70px);
  max-width: calc(100vw - 70px);
}

.title {
  font-size: max(48px, min(5vw, 76px));
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.2;
  text-align: center;
  margin: 60px 0;
}

.blog h1 {
  font-size: max(24px, min(2vw, 30px));
  letter-spacing: -0.05em;
}

.blog h2 {
  font-size: max(18px, min(2vw, 26px));
  letter-spacing: -0.05em;
}

.blog h3 {
  font-size: max(14px, min(2vw, 20px));
  letter-spacing: -0.05em;
  color: var(--base800);
}

.blog p {
  color: var(--base800);
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;
}

.blog a {
  color: var(--blue800);
}

.blog img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.back {
  display: block;
  margin: 40px 0;
}

.info {
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}

.date {
  color: var(--base700);
}

.author {
  color: var(--base700);
}

@media screen and (max-width: 360px) {
  .title {
    font-size: max(40px, min(5vw, 76px));
  }
}
