.menu {
  position: sticky;
  height: calc(100vh - 140px);
  scrollbar-gutter: stable;
  overflow-y: scroll;
  font-size: 14px;
  color: var(--base-color-800);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.menu header {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 0;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  border-left: 1px solid var(--base-color-300);
  text-wrap: nowrap;
}

.item:hover {
  border-left: 1px solid var(--base-color-600);
}

.menu .item a,
.menu .item a:visited,
.menu .item a:active {
  display: block;
  color: var(--font-muted-color);
  padding: 4px 20px;
}

.menu .item a:hover {
  color: var(--primary-bg-color);
}

.menu .item.selected {
  font-weight: 600;
  border-left: 2px solid var(--primary-bg-color);
}

.menu .item.selected a {
  color: var(--base-color-900);
}

.menu::-webkit-scrollbar {
  width: 15px;
  background: var(--background-color);
  display: none;
}

.menu:hover::-webkit-scrollbar {
  display: block;
}

.menu::-webkit-scrollbar-track {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: var(--base-color-300);
  background-clip: padding-box;
}

.menu::-webkit-scrollbar-thumb {
  border: 7px solid rgba(0, 0, 0, 0);
  background-color: var(--base-color-600);
  background-clip: padding-box;
}

.menu::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: var(--base-color-800);
  background-clip: padding-box;
}

@media screen and (max-width: 768px) {
  .menu {
    font-size: 12px;
  }
}
