.nav {
  position: sticky;
  top: 80px;
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--base-color-50);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  background: var(--base-color-50);
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid var(--base-color-300);
}

.nav .toggle a {
  color: var(--base-color-700);
  padding: 8px 16px;
  border-radius: 5px;
}

.toggle a.active {
  color: var(--base-color-900);
  background: var(--base-color-50);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: none;
  align-items: center;
  gap: 10px;
  min-height: 40px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .toggle {
    font-size: 12px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .button {
    display: flex;
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: grid;
    background: var(--base-color-50);
    z-index: 100;
  }
}
