.header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: block;
  align-self: center;
}

.links {
  display: flex;
  margin: 0 40px;
  justify-content: flex-end;
  flex: 1;
}
