.features table {
  width: 100%;
  margin: 100px 0;
}

.features tr {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--base-color-200);
}

.features th,
.features td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  min-height: 50px;
}

.features td {
  color: var(--font-muted-color);
}

.features td:first-child {
  justify-content: flex-start;
  min-width: 80px;
  text-overflow: ellipsis;
}

.features .header {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.025em;
  height: 100px;
  border: 0;
  color: var(--font-color);
}

@media screen and (max-width: 768px) {
  .features {
    font-size: 14px;
  }

  .features td {
    padding: 20px 0;
  }
}
