.stickyHeader tr {
  position: sticky;
  top: 70px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
}

.sectionHeaderRow {
  position: sticky;
  top: 110px; /* just below main table header */
  z-index: 1; /* lower than main header */
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
}
