.plans {
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  justify-content: center;
}

.plans li {
  display: flex;
  font-size: 16px;
  align-items: center;
  list-style: none;
}

.interval {
  font-size: 16px;
  color: var(--base-color-700);
  margin-left: 10px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid var(--base-color-300);
  width: 100%;
}

.plan:nth-child(2) {
  border-color: var(--base-color-600);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}

.price {
  font-size: 42px;
  font-weight: 700;
  line-height: 4rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.signup {
  margin: 30px auto;
  border: 1px solid var(--base-color-300);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 4px var(--base-color-300);
}

@media screen and (max-width: 768px) {
  .plans {
    grid-template-columns: 1fr;
  }
}
