.questions {
  display: flex;
  flex-direction: column;
  margin: 0 auto 60px;
  width: 900px;
}

.question {
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer {
  color: var(--font-color-muted);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border-radius: 4px;
  background: var(--base-color-1);
  line-height: 1.6rem;
}

.icon {
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .questions {
    width: auto;
  }
}

@media screen and (max-width: 360px) {
  .question {
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
  }
}
