.page {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 200px;
  position: relative;
}

.group {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}

.title {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.description {
  color: var(--font-color300);
}

.content a {
  color: var(--primary-color);
}

.content a:hover {
  color: var(--primary600);
}

@media screen and (max-width: 992px) {
  .page {
    grid-template-columns: 1fr;
  }
}
