.page {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 200px;
  position: relative;
}

.content {
  overflow-x: auto ;
}

@media screen and (max-width: 992px) {
  .page {
    grid-template-columns: 1fr;
  }
}
