.container {
  display: grid;
  gap: 80px;
}

.highlight {
  color: #df46cd;
}

.header {
  margin-top: 60px;
  gap: 30px;
}

.header img {
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
  transform: rotate(-4deg);
}

.header a {
  display: inline-block;
}

.body > div {
  display: grid;
  gap: 60px;
}

.body img {
  max-width: 500px;
}
