.header {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px 0 20px;
  height: 40px;
  max-width: 100vw;
  border-bottom: 2px solid var(--base200);
}

.title {
  color: var(--base700);
  font-weight: 700;
  height: 40px;
}

.header a {
  color: var(--base700);
  height: 40px;
  border-bottom: 2px solid transparent;
  margin: 0 0 -2px 0;
}

.header a:hover {
  color: var(--primary400);
  border-bottom: 2px solid var(--base500);
}

a.selected,
a.selected:hover {
  color: var(--base900);
  border-bottom: 2px solid var(--blue800);
}

@media screen and (max-width: 640px) {
  .header {
    overflow: auto hidden;
    border: 0;
  }
}
