.docs {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 30px;
  color: var(--base-color-800);
  max-width: 100vw;
  position: relative;
  font-size: 16px;
  line-height: 30px;
}

.docs h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin-bottom: 20px;
}

.docs h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 20px 0;
}

.docs h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 20px 0;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.docs ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.docs ul li::before {
  content: '— ';
  color: var(--base-color-500);
  margin-right: 10px;
}

.docs ol {
  list-style: decimal;
}

.content {
  min-height: calc(100vh - 70px);
  max-width: 100%;
}

.pixel {
  display: none;
}

@media screen and (max-width: 992px) {
  .docs {
    grid-template-columns: minmax(120px, 20vw) 1fr;
    column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 160px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 1fr;
    position: relative;
  }

  .content {
    top: 60px;
    position: relative;
    padding-bottom: 60px;
  }
}
