.docs {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 30px;
  color: var(--base800);
  max-width: 100vw;
  position: relative;
}

.docs h1 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0 0 20px 0;
}

.docs h2 {
  font-weight: 700;
  letter-spacing: -0.025em;
}

.docs h3 {
  font-weight: 700;
  letter-spacing: -0.025em;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.docs a {
  color: var(--primary400);
}

.docs a:hover {
  color: var(--primary500);
}

.content {
  min-height: calc(100vh - 70px);
  max-width: 100%;
}

.pixel {
  display: none;
}

@media screen and (max-width: 992px) {
  .docs {
    grid-template-columns: minmax(120px, 20vw) 1fr;
    column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 160px 1fr;
  }

  .docs h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .docs h2 {
    font-weight: 600;
    letter-spacing: -1px;
  }

  .content {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .docs h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  .docs h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 1fr;
    position: relative;
  }

  .content {
    top: 60px;
    position: relative;
    padding-bottom: 60px;
  }
}
