.docs {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 30px;
  color: var(--base800);
  max-width: 100vw;
  position: relative;
}

.docs h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0 0 20px 0;
}

.docs h2 {
  font-weight: 800;
  letter-spacing: -1px;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.docs a {
  color: var(--primary400);
}

.docs a:hover {
  color: var(--primary500);
}

.nav {
  position: sticky;
  top: 80px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.content {
  min-height: calc(100vh - 70px);
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .docs {
    grid-template-columns: minmax(120px, 20vw) 1fr;
    column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 160px 1fr;
  }

  .docs h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .docs h2 {
    font-weight: 600;
    letter-spacing: -1px;
  }

  .content {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .docs h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  .docs h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .docs {
    grid-template-columns: 1fr;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: auto;
    z-index: 100;
  }

  .content {
    top: 60px;
    position: relative;
  }
}
