.docs {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 30px;
  color: var(--base800);
}

.docs h1 {
  font-weight: 800;
  letter-spacing: -2px;
}

.docs h2 {
  font-weight: 800;
  letter-spacing: -1px;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.1);
}

.docs a {
  color: var(--primary400);
}

.docs a:hover {
  color: var(--primary500);
}

.nav {
  position: sticky;
  top: 80px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.content {
  min-height: calc(100vh - 70px);
}
