.menu {
  font-size: 14px;
  position: sticky;
  top: 70px;
  margin-right: 40px;
  color: var(--base800);
}

.menu header {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 0;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 4px 20px;
  border-left: 1px solid var(--base300);
}

.item:hover {
  border-left: 1px solid var(--base600);
}

.menu .item a,
.menu .item a:visited,
.menu .item a:active {
  color: var(--base700);
}

.menu .item a:hover {
  color: var(--primary400);
}

.item.selected {
  font-weight: 600;
  border-left: 1px solid var(--primary400);
}

.menu .item.selected a {
  color: var(--primary400);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--base75);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.menu .toggle a {
  color: var(--base700);
  padding: 8px 16px;
  border-radius: 5px;
}

.toggle a.active {
  color: var(--base900);
  background: var(--base50);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
