.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 150px);
  top: 121px;
  position: sticky;
}

.menuWrapper {
  position: relative;
  overflow: hidden;
}

.dropdown {
  margin-bottom: 2rem;
}

.menu {
  scrollbar-gutter: stable;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  font-size: 14px;
  color: var(--base800);
}

.menu header {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 0;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 4px 20px;
  border-left: 1px solid var(--base300);
}

.item:hover {
  border-left: 1px solid var(--base600);
}

.menu .item a,
.menu .item a:visited,
.menu .item a:active {
  color: var(--base700);
}

.menu .item a:hover {
  color: var(--primary400);
}

.item.selected {
  font-weight: 600;
  border-left: 1px solid var(--primary400);
}

.menu .item.selected a {
  color: var(--primary400);
}
