.sidenav {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--base50);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  background: var(--base75);
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid var(--base300);
}

.sidenav .toggle a {
  color: var(--base700);
  padding: 8px 16px;
  border-radius: 5px;
}

.toggle a.active {
  color: var(--base900);
  background: var(--base50);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: none;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .toggle {
    font-size: 12px;
  }

  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: grid;
    background: var(--base50);
    z-index: 100;
  }
}
