html,
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 4rem auto;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.docs {
  padding-top: 2rem;
}