html,
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--base-color-900);
  background: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:active,
a:visited,
a:hover {
  color: currentColor;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.05em;
}

h1 {
  font-size: max(48px, min(5vw, 64px));
}
h2 {
  font-size: max(24px, min(5vw, 32px));
}
h3 {
  font-size: max(16px, min(2vw, 18px));
  font-weight: 600;
  letter-spacing: 0;
}

main {
  flex: 1;
}

svg {
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  background: var(--base-color-100);
  padding: 2px 4px;
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  letter-spacing: 0;
}

menu ul {
  padding: 0;
}

menu li {
  list-style: none;
}

body button {
  font-family: inherit;
}

hr {
  border: 0;
  border-top: 1px solid var(--base-color-300);
  margin: 30px 0;
}

.mdx, .blog {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
}
