html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--base900);
  background: var(--base50);
  position: relative;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:active,
a:visited {
  color: var(--base900);
  text-decoration: none;
}

a:hover {
  color: var(--primary400);
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

main {
  flex: 1;
}

svg {
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
}

pre {
  background: var(--base100);
  padding: 1rem;
  border-radius: 0.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  background: var(--base100);
  padding: 2px 4px;
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

menu ul {
  padding: 0;
}

menu li {
  list-style: none;
}

body button {
  font-family: inherit;
}

pre code {
  padding: 0;
}

.docs {
  color: var(--base800);
}

.docs h1 {
  font-weight: 800;
  letter-spacing: -2px;
}

.docs h2 {
  font-weight: 800;
  letter-spacing: -1px;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}
