html,
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--base900);
  background: var(--base50);
  position: relative;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:active,
a:visited {
  color: var(--base900);
  text-decoration: none;
}

a:hover {
  color: var(--primary400);
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

main {
  flex: 1;
}

svg {
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  background: var(--base100);
  padding: 2px 4px;
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  letter-spacing: 0;
}

menu ul {
  padding: 0;
}

menu li {
  list-style: none;
}

body button {
  font-family: inherit;
}

hr {
  border: 0;
  border-top: 1px solid var(--base400);
}
