:root {
  /* Base values */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.25rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-7: 2rem;
  --spacing-8: 3rem;
  --spacing-9: 4rem;
  --spacing-10: 5rem;
  --spacing-11: 7.5rem;
  --spacing-12: 10rem;

  --gap-xs: 1px;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 4rem;
  --gap-xl: 12rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --border-thin: 1px;
  --border-medium: 2px;
  --border-thick: 4px;

  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 100%;

  --box-shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-6: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --base-color-50: #fafafa;
  --base-color-100: #f5f5f5;
  --base-color-200: #e5e5e5;
  --base-color-300: #d4d4d4;
  --base-color-400: #a3a3a3;
  --base-color-500: #737373;
  --base-color-600: #525252;
  --base-color-700: #404040;
  --base-color-800: #262626;
  --base-color-900: #171717;
  --base-color-950: #0a0a0a;

  --success-bg-color: #22c55e;
  --success-fg-color: var(--base-color-50);

  --danger-bg-color: #ef4444;
  --danger-fg-color: var(--base-color-50);

  --warning-bg-color: #f97316;
  --warning-fg-color: var(--base-color-50);

  --active-bg-color: #3b82f6;
  --active-fg-color: var(--base-color-50);

  --inactive-bg-color: var(--base-color-400);
  --inactive-fg-color: var(--base-color-900);

  /* Settings */

  --font-size: 14px;

  --border-radius: var(--border-radius-md);

  --gap: var(--spacing-5);

  --padding: var(--spacing-2) var(--spacing-3);

  --box-shadow-: var(--box-shadow-1);

  --light-color: var(--base-color-50);
  --dark-color: var(--base-color-950);

  /* Theme settings */

  --font-color: var(--base-color-950);
  --font-muted-color: var(--base-color-500);
  --font-faded-color: var(--base-color-400);

  --background-color: #fff;

  --border-color: var(--base-color-300);
  --border: var(--border-thin) solid var(--border-color);

  --primary-fg-color: var(--base-color-50);
  --primary-bg-color: var(--base-color-900);

  --secondary-fg-color: var(--font-color);
  --secondary-bg-color: var(--base-color-100);

  --highlight-fg-color: var(--font-color);
  --highlight-bg-color: var(--base-color-50);

  --input-bg-color: var(--base-color-200);
  --input-disabled-color: var(--base-color-100);

  [data-theme='dark'] {
    --font-color: var(--base-color-100);
    --font-muted-color: var(--base-color-400);
    --font-faded-color: var(--base-color-500);

    --background-color: var(--base-color-950);

    --border-color: var(--base-color-700);
    --border: 1px solid var(--border-color);

    --primary-bg-color: var(--base-color-50);
    --primary-fg-color: var(--base-color-900);

    --secondary-bg-color: var(--base-color-800);
    --secondary-fg-color: var(--font-color);

    --highlight-bg-color: var(--base-color-800);
    --highlight-fg-color: var(--font-color);

    --input-bg-color: var(--base-color-700);
    --input-disabled-color: var(--base-color-800);
  }
}
