.container {
  display: grid;
  gap: 60px;
}

.header h1 {
  z-index: 1;
}

.header:before {
  position: absolute;
  left: -50%;
  transform: translateX(50%);
  content: '';
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #a8ccf7;
}

.header:after {
  position: absolute;
  left: -50%;
  transform: translateX(50%);
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #df46cd;
}

.features {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.features div {
  border: 1px solid var(--base600);
  border-radius: 10px;
  padding: 20px 0;
}

.features div:first-child {
  box-shadow: 4px 4px var(--base300);
}

.features div:last-child {
  background: var(--base75);
}

.features header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.features ul {
  width: 300px;
  margin: 0 auto;
  list-style: none;
}

.features li {
  line-height: 2.5rem;
}

.button {
  display: flex;
  justify-content: center;
}
