.button {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  gap: 60px;
}

.features {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.features header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.features ul {
  width: 300px;
  margin: 0 auto;
  list-style: none;
}
