.section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}

.block {
  gap: 60px;
  min-height: 700px;
  background-color: var(--base50);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 100%;
}

.image svg {
  width: 160px;
  height: 160px;
}

@media screen and (max-width: 768px) {
  .block {
    min-height: 500px;
  }
}
