.text h1 {
  font-size: max(32px, min(5vw, 48px));
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.2;
}

.text.xl h1 {
  font-size: max(48px, min(5vw, 76px));
}

.text.lg h1 {
  font-size: max(48px, min(5vw, 64px));
}

.text.md h1 {
  font-size: max(32px, min(5vw, 48px));
}

.text.sm h1 {
  font-size: max(18px, min(2vw, 24px));
}

.text h2 {
  font-size: max(18px, min(2vw, 24px));
  letter-spacing: -0.05em;
}

.text p {
  color: var(--base700);
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;

  @media (max-width: 600px) {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
  }
}

.text.xl p {
  font-size: max(15px, min(2vw, 20px));
}

.text.lg p {
  font-size: max(14px, min(2vw, 16px));
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.text strong {
  color: var(--base900);
}


