.form {
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: 1px solid var(--gray300);
}

.input {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.confirm {
  display: inline-flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.confirm svg {
  fill: var(--green400);
}
