.footer {
  font-size: 14px;
  padding: 36px 0;
  margin-top: 36px;
  border-top: 1px solid var(--gray300);
}

.col {
  flex: 1;
  height: 300px;
}

.col h1 {
  font-size: 14px;
}

.col:first-child {
  padding-top: 10px;
}

.links a {
  display: block;
  margin: 10px 0;
}

.copy {
  font-size: 12px;
}
