.footer {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  margin-top: 36px;
  border-top: 1px solid var(--gray300);
}

.footer h1 {
  font-size: 16px;
}

.col {
  flex: 1;
  height: 400px;
}

.col a {
  display: block;
  margin: 10px 0;
}

.col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 10px;
  font-weight: 600;
  flex: 1;
  margin-top: 10px;
}

.copy {
  font-size: 12px;
}
