.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: 1px solid var(--base50);
  backdrop-filter: blur(16px);
  z-index: 100;
}

.row {
  align-items: center;
  height: 70px;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;
  border: 1px solid transparent;
  transition: all ease-in-out 0.3s;

  .buttons a {
    height: 24px;
    overflow: hidden;
  }
}

.header svg {
  width: 24px;
  height: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 600;
}

.header .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 1;
  font-weight: 600;
  z-index: 3;
  text-shadow: 1px 1px 0 #fff;
}

.header .buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

html:not([data-scroll="0"]) .header {
  transition: all linear 0.6s;
  border-bottom: 1px solid var(--base300);
}

:global(html.dark) {
  .header {
    background: rgb(var(--base50-rgb), 0.9);
  }

  .header .links {
    text-shadow: none;
  }

  .row .buttons a {
    fill: var(--base900);
  }
}

:global(html:not([data-scroll="0"]).dark) .header {
  border-color: var(--border);
}
