.header {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  background: var(--gray50);
  display: flex;
  height: 70px;
  z-index: 100;
  border-radius: 20px;
}

.header svg {
  width: 24px;
  height: 24px;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 1;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
  .title {
    flex: 1;
  }
  .links,
  .buttons {
    display: none;
  }
}
