.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--gray50);
  display: flex;
  margin-top: 10px;
  height: 70px;
  z-index: 100;
  border-radius: 20px;
  padding: 0 20px;
}

.header > * {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.header svg {
  width: 24px;
  height: 24px;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 1;
  font-weight: 600;
}

.header .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .menu {
  justify-content: flex-end;
}
