.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
  z-index: 100;
}

.row {
  align-items: center;
  height: 70px;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;
  border: 1px solid transparent;
  transition: all ease-in-out 0.3s;
}

.header svg {
  width: 24px;
  height: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 600;
}

.header .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 1;
  font-weight: 600;
  z-index: 3;
}

.header .buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

html:not([data-scroll='0']) .row {
  transition: all ease-in-out 0.3s;
  backdrop-filter: blur(20px);
  border: 1px solid var(--base300);
  box-shadow: 2px 2px 4px var(--base300);
}
