.menu {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: var(--base50);
  overflow: auto;
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

.item {
  font-size: 32px;
  line-height: 64px;
}
