.pricing {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pricing ul {
  margin: 0;
  padding: 0;
}

.pricing li {
  display: flex;
  align-items: center;
  list-style: none;
}

.tier {
  padding: 30px;
  border-radius: 10px;
  background: var(--base75);
  margin: 0 auto;
  border: 1px solid var(--primary400);
}

.tier:first-child {
  border: 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
}

.title svg {
  opacity: 0.5;
}

.description {
  font-size: 16px;
  line-height: 3em;
  font-weight: 400;
}

.price b {
  font-size: 42px;
  line-height: 2em;
  font-weight: 700;
}

.cloud {
  color: var(--base50);
  background: var(--blue800);
}

.cloud svg {
  fill: var(--base50);
}

.beta {
  padding: 30px;
  margin: 40px auto;
  border-radius: 10px;
  background: #eaf4ff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.signup {
  margin: 30px auto;
  border: 1px solid var(--base300);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 4px var(--base300);
}

.features table {
  width: 100%;
  margin: 60px 0;
}

.features tr {
  display: flex;
  align-items: center;
}

.features th,
.features td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  height: 50px;
  border-bottom: 1px solid var(--base400);
}

.features td:first-child {
  justify-content: flex-start;
}
