.pricing {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pricing ul {
  margin: 0;
  padding: 0;
}

.pricing li {
  display: flex;
  align-items: center;
  list-style: none;
}

.pricing strong {
  font-size: 42px;
  font-weight: 700;
}

.tier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  background: var(--base75);
  margin: 0 auto;
  border: 1px solid var(--primary400);
}

.tier:first-child {
  border: 0;
}

.tier:last-child {
  color: var(--base50);
  background: var(--blue800);
}

.tier:last-child svg {
  fill: var(--base50);
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
}

.title svg {
  opacity: 0.5;
}

.description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.price {
  line-height: 4rem;
}

.beta {
  padding: 30px;
  margin: 40px auto;
  border-radius: 10px;
  background: #eaf4ff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.button button {
  font-weight: 700;
}

.signup {
  margin: 30px auto;
  border: 1px solid var(--base300);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 4px var(--base300);
}

.features table {
  width: 100%;
  margin: 100px 0;
}

.features tr {
  display: flex;
  align-items: center;
}

.features th,
.features td {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  height: 50px;
  border-bottom: 1px solid var(--base400);
}

.features td:first-child {
  justify-content: flex-start;
  min-width: 80px;
}

.features .header {
  height: 100px;
  border: 0;
}

.calculator {
  width: 600px;
  margin: 40px auto 0 auto;
}

.calculator strong {
  font-size: 36px;
  font-weight: 700;
}

.slider {
  margin: 40px 0 20px;
}

.range {
  display: block;
  width: 560px;
  margin: auto;
}

.ticks {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.tick {
  width: calc(600px / 11);
  text-align: center;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.faq h1 {
  text-align: center;
}

.questions {
  padding: 30px;
  border-radius: 8px;
  border: 1px solid var(--base300);
}

.question {
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
}

.answer {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border-radius: 4px;
  background: var(--base75);
  line-height: 1.6rem;
}

@media screen and (max-width: 768px) {
  .features {
    font-size: 14px;
  }

  .features tbody tr:nth-child(3) td {
    height: 100px;
  }
}
