.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links svg {
  display: block;
  width: 20px;
  height: 20px;
}

.links svg:hover {
  fill: #2680eb;
}

@media (prefers-color-scheme: dark) {
  .links svg {
    fill: var(--base900);
  }
}
