.container {
  display: grid;
  gap: 80px;
}

.highlight {
  color: rebeccapurple !important;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.header img {
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
  transform: rotate(6deg);
}

.header a {
  display: inline-block;
}

.body {
  gap: 30px;
}

.body img {
  max-width: 100%;
  height: auto;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
}

.services > div {
  font-size: 24px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .header {
    gap: 60px;
    grid-template-columns: 1fr;
  }
}
