.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 60px;
}

.faq h1 {
  text-align: center;
}

.questions {
  padding: 30px;
  border-radius: 8px;
  border: 1px solid var(--base400);
}

.question {
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
}

.answer {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border-radius: 4px;
  background: var(--base75);
  line-height: 1.6rem;
}

.icon {
  margin-right: 20px;
}
