.card {
  display: grid;
  padding: 30px;
  border: 1px solid var(--base-color-300);
  border-radius: 8px;
  gap: 10px;
}

.title {
  font-size: max(18px, min(2vw, 24px));
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.5;
  min-height: 90px;
}

.description {
  color: var(--font-muted-color);
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;
  min-height: 160px;
}

.link {
  justify-self: start;
}

.date {
  color: var(--font-muted-color);
  line-height: 28px;
}
