.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: var(--base75);
  border-radius: 10px;
}

.stat {
  text-align: center;
}

.value {
  font-size: max(48px, min(5vw, 64px));
  font-weight: 900;
  text-shadow: 5px 5px 1px #a8ccf7;
}

.label {
  color: var(--base700);
  font-size: max(16px, min(2vw, 24px));
}

@media screen and (max-width: 992px) {
  .stats {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
