.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

@media screen and (max-width: 360px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr;
  }

  .button {
    flex-direction: column;
  }

  .button a {
    margin: auto;
  }
}
