.container {
  display: grid;
  gap: 60px;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
}

.services > div {
  font-size: 24px;
  padding: 20px;
}
