.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 40px;
  border-radius: 12px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  background-image: url('https://static.oravo.dev/website/images/bg-get-started-banner.jpg');
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: center top 10%;
}

.text {
  font-size: max(32px, min(5vw, 48px));
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 360px) {
  .banner {
    max-width: 100vw;
    margin: 10px;
  }
}
