.heading {
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin: 1rem;
}

.heading.xl {
  font-size: max(36px, min(4vw, 56px));
}

.heading.lg {
  font-size: max(32px, min(4vw, 48px));
}

.heading.md {
  font-size: max(28px, min(3vw, 40px));
}

.heading.sm {
  font-size: max(20px, min(2vw, 28px));
}

.heading.xs {
  font-size: max(16px, min(2vw, 20px));
}

.heading.start {
  text-align: start;
}

.heading.center {
  text-align: center;
}

.heading.end {
  text-align: end;
}
