.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  background: var(--base-color-1);
  overflow: hidden;
}

.image img {
  position: absolute;
  max-width: 90%;
  box-shadow: var(--box-shadow-3);
  border-radius: 10px;
}
