.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  background-color: var(--background-color);
  overflow: auto;
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.item {
  font-size: 28px;
}

.close {
  align-self: flex-end;
  margin-top: 16px;
  margin-right: 16px;
}
