.container {
  display: grid;
  grid-template-columns: 1fr 500px;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

.input {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
  }
}
