.container {
  position: relative;
  background: #000;
  padding: 16px;
  border-radius: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container code {
  padding: 0;
  background: transparent;
}

.button {
  border: 0;
  position: absolute;
  right: 20px;
  top: 16px;
  cursor: pointer;
  background: transparent;
}

.copy {
  color: var(--base-color-4);
}

.copy:hover {
  color: var(--base-color-1);
}

.check {
  color: var(--success-color);
}
