.text p {
  color: var(--font-color-muted);
}

.text header {
  color: var(--primary-color);
  font-weight: 700;
}

.text strong {
  color: var(--font-color);
}

.size-xl {
  font-size: 24px;
}

.size-lg {
  font-size: 18px;
}

.size-md {
  font-size: 16px;
}

.size-sm {
  font-size: 14px;
}

.align-start {
  text-align: start;
  margin-left: 0;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: end;
  margin-right: 0;
}
