.text > *:first-child {
  font-size: max(32px, min(5vw, 48px));
  font-weight: 800;
  letter-spacing: -0.05em;
  margin: 4rem;
}

.text.xl > *:first-child {
  font-size: max(48px, min(5vw, 76px));
}

.text.lg > *:first-child {
  font-size: max(48px, min(5vw, 64px));
}

.text.md > *:first-child {
  font-size: max(32px, min(5vw, 48px));
}

.text.sm > *:first-child {
  font-size: max(18px, min(2vw, 24px));
}

.text > *:nth-child(1) {
  font-size: max(18px, min(2vw, 24px));
  letter-spacing: -0.05em;
}

.text > *:nth-child(2) {
  color: var(--font-muted-color);
  font-size: max(16px, min(2vw, 20px));
  font-weight: 400;

  @media (max-width: 600px) {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
  }
}

.text.xl > *:nth-child(2) {
  font-size: max(18px, min(2vw, 22px));
}

.text.lg > *:nth-child(2) {
  font-size: max(16px, min(2vw, 18px));
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.text strong {
  color: var(--base900);
}
