.logos {
  position: relative;
  overflow: hidden;
  filter: grayscale(1);
  opacity: 0.5;
  height: 100px;
  mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 20%, white 80%, rgba(255, 255, 255, 0));
}

.logos img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  margin: auto;
}

.scroll {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 100px;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}
