.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid transparent;
  backdrop-filter: saturate(180%) blur(12px);
  background: rgba(255, 255, 255, 0.75);
  z-index: 1000;
  max-width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header a:hover {
  color: var(--base-color-950);
}

.header .signup:hover {
  color: var(--primary-font-color);
}

.links {
  color: var(--font-color);
  margin: 0 auto;
}

.links a:hover {
  color: var(--primary-color);
}

.header .actions > a {
  font-size: 14px;
}

.hamburger {
  position: absolute;
  right: 0;
  display: none;
  flex-direction: row;
  align-items: center;
}

html:not([data-scroll='0']) .header {
  transition: all linear 0.6s;
  border-bottom: 1px solid var(--base-color-300);
}

@media screen and (max-width: 1200px) {
  .github {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .login {
    display: none;
  }

  .links {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .links,
  .signup {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
