.hero {
  margin-top: 100px;
}

.image {
  max-width: 800px;
  margin: 0 auto;
  perspective: 2000px;
  transform-style: preserve-3d;
  text-align: center;
  padding-top: 40px;
}

.image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  align-self: center;
  transform: rotateX(35deg) rotateY(-20deg) rotateZ(5deg) translateZ(120px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  border: 1px solid rgba(0, 0, 0, 0.2);
}
