.item {
  padding-left: 20px;
  cursor: pointer;
  border-left: 2px solid var(--border-color);
}

.item.selected {
  border-color: var(--primary-color);
  transition: border-color ease-in-out 500ms;
}

.block {
  position: relative;
  width: 100%;
}

.image {
  position: absolute;
  opacity: 0;
  transform: translateY(-20px);
}

.image.selected {
  opacity: 1;
  transform: translateY(0);
  transition: all ease-in-out 500ms;
}

@media (max-width: 768px) {
  .item {
    padding-left: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .block {
    display: none;
  }
  
  .item {
    padding-left: 10px;
  }
}
