.container {
  display: grid;
  gap: 30px;
  padding: 20px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.num {
  font-size: 20px;
  font-weight: 700;
  border-radius: 100%;
  background: var(--base-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  align-self: center;
}

.action {
  font-size: 18px;
  font-weight: 700;
  margin: var(--spacing-6) 0;
}

.description {
  color: var(--font-color-muted);
}
