.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  margin-top: 60px;
}

.card {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 40px 1fr;
  padding: 20px;
  background: var(--base50);
  border: 1px solid var(--base400);
  border-radius: 10px;
  align-self: start;
  box-shadow: 5px 5px 0 var(--base100);
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  grid-row: 1 / 2;
}

.pic img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 10px;
}

.user {
  display: flex;
  gap: 10px;
}

.name {
  font-weight: 700;
}

.username {
  color: var(--base600);
}

.logo {
  justify-self: flex-end;
  align-self: end;
}

.logo svg {
  width: 16px;
  height: 16px;
}

.body {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: left;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .list {
    padding: 20px;
  }
}

@media screen and (max-width: 360px) {
  .list {
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 100vw;
    margin: 0 auto;
  }
  .card {
    justify-content: center;
    max-width: 90vw;
    font-size: 12px;
  }

  .body {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-content: center;
    text-align: left;
  }
}
