.header {
  width: 60%;
  margin: 0 auto;
}

.statements {
  display: grid;
  gap: 60px;
  background: #fff;
  z-index: 1;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image svg {
  width: 200px;
  height: 200px;
  z-index: 1;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}

.image svg:nth-child(2) {
  fill: #a8ccf7;
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  .header {
    width: 100%;
  }
}
