.container {
  display: grid;
  gap: 60px;
}

.header {
  background: var(--base75);
  border-radius: 12px;
  padding-bottom: 30px;
}

.block {
  width: 60%;
  margin: 0 auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 60px;
  background: #fff;
  z-index: 1;
}

.items h1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.image svg {
  width: 80px;
  height: 80px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}

.image svg:nth-child(2) {
  fill: #a8ccf7;
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  .block {
    width: 90%;
  }

  .items {
    grid-template-columns: 1fr;
  }
}
