.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.logo a,
.logo a:hover {
  color: var(--base900);
}

.logo svg {
  width: 16px;
  height: 16px;
}
