.button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  gap: var(--size200);
  font-family: inherit;
  color: var(--base900);
  background: var(--base100);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  min-height: var(--base-height);
  padding: 0 var(--size600);
  position: relative;
  cursor: pointer;
  font-size: max(14px, min(2vw, 16px));
}

.button:hover {
  color: var(--base900);
  background: var(--base200);
}

.button:active {
  background: var(--base300);
}

.button:visited {
  color: var(--base900);
}

.primary {
  color: var(--light50);
  background: var(--primary400);
}

.button.primary:visited {
  color: var(--light50);
}

.primary:hover {
  color: var(--light50);
  background: var(--primary500);
}

.button.secondary {
  border: 1px solid var(--border-color);
  background: var(--base50);
}

.button.secondary:hover {
  background: var(--base75);
}

.button.secondary:active {
  background: var(--base100);
}

.button.lg {
  font-size: max(14px, min(2vw, 18px));
  padding: 0.9rem 1.5rem;
}
