.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:0.75rem;
  background: #0d1117; 
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
}

.container code {
  padding: 0;
  background: transparent;
}

.button {
  border: 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: transparent;
  color: var(--base50);
}

.copy {
  color: var(--base400);
}

.copy:hover {
  color: var(--base100);
}

.check {
  color: var(--green400);
}
