.container {
  position: relative;
  background: #000;
  padding: 16px;
  border-radius: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container code {
  padding: 0;
}

.button {
  border: 0;
  position: absolute;
  right: 20px;
  top: 16px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: transparent;
  color: var(--base50);
}

.copy {
  color: var(--base400);
}

.copy:hover {
  color: var(--base100);
}

.check {
  color: var(--green400);
}
