.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-color-1);
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--base-color-3);
  font-size: 18px;
  font-weight: 400;
  height: 100%;
}

.item h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
}

.item h2 svg {
  width: 24px;
  height: 24px;
}

.item p {
  flex-grow: 1;
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
}

.item div {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
}
