.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base75);
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--base300);
  font-size: 18px;
  font-weight: 400;
  height: 100%;
}

.item header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--base800);
  font-size: 24px;
  font-weight: 700;
}

.item header svg {
  width: 24px;
  height: 24px;
  fill: var(--base800);
}

.item p {
  color: var(--base700);
  font-size: max(14px, min(2vw, 16px));
  font-weight: 400;
}

.item a {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
}
