html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--gray900);
  background: var(--gray50);
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

a,
a:active,
a:visited {
  color: var(--gray900);
  text-decoration: none;
}

a:hover {
  color: var(--primary400);
}

main {
  flex: 1;
  position: relative;
}

svg {
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
}

article header {
  font-size: 48px;
  text-align: center;
}

article header p {
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 60px;
}

pre {
  background: var(--gray100);
  padding: 1rem;
  border-radius: 0.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.docs img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}

.docs .menu li {
  list-style: none;
}
