html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--base900);
  background: var(--base50);
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

a,
a:active,
a:visited {
  color: var(--base900);
  text-decoration: none;
}

a:hover {
  color: var(--primary400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
}

main {
  flex: 1;
  margin-top: 80px;
}

svg {
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
}

article header {
  text-align: center;
}

article header h1 {
  font-size: 48px;
}

article header p {
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 60px;
}

pre {
  background: var(--base100);
  padding: 1rem;
  border-radius: 0.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  background: var(--base100);
  padding: 2px 4px;
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

menu ul {
  padding: 0;
}

menu li {
  list-style: none;
}

body button {
  font-family: inherit;
}

pre code {
  padding: 0;
}

.markdown img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
}

.markdown article a {
  color: #2680eb;
}

.markdown article h1 {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  article header h1 {
    font-size: 2em;
  }
}
